@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
}

svg,
img,
a,
button,
li {
  cursor: pointer;
}

li:hover, svg:hover, img:hover, a:hover, button:hover {
  color: #98b020;
  transition: 0.3s;
}

a {
  text-decoration: none;
}
